/* theme color */
$--color-primary: #001B54;
$--color-secondary: #C2B59B;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";